* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #000;
  width: 100%;
  height: 120px;
  padding: 5px;
}
body {
  background-color: grey;
  width: 100%;
}
.container {
  background-color: #FFFFFF;
  width: 800px;
  height: 750px;
  margin: auto;
}

footer {
  background-color: #222222;
  width: 800px;
  height: 100px;
  margin: auto;

}
